# fly.toml app configuration file generated for todo-srv on 2024-01-02T15:00:37-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wiki-auth-srv'
primary_region = "sjc"

[build]
  dockerfile = "./auth.fly.dockerfile"

[env]
  SERVER_START_APP_NAME="wiki"
  AUTH_SERVER_PORT="5000"
  AUTH_SERVER="https://wiki-auth-srv.fly.dev"
  TODO_SERVER="https://todo0.dev"
  APP_RESOURCE="https://wiki0.dev/"
  CLIENT1_CALLBACK="https://wiki0.dev/api/openid/callback/"
  CUSTOMER1_EMAIL_DOMAIN="tables.fake"
  CUSTOMER1_AUTH_ISSUER="https://localgrid.clouditude.com"
  USE_SAML_SSO="false"
  CUSTOMER1_SAML_ENTRY_POINT=""
  CUSTOMER1_SAML_ISSUER=""
  CUSTOMER1_SAML_CERTIFICATE=""

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
